@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #073f8a;
  --color-secondary: #ffffff;
  --color-accent: #f9d100;

  --font-sans: "Google Sans", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  /* Dark slate */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}